SRCDS_TOKEN=replace_with_your_gslt
SRCDS_HOSTNAME=My CS:GO Server
SRCDS_RCONPW=change_me_now
SRCDS_PW=
SRCDS_MAXPLAYERS=12
SRCDS_PORT=27015
SRCDS_CLIENT_PORT=27005
SRCDS_TV_PORT=27020
SRCDS_STARTMAP=de_dust2
SRCDS_MAPGROUP=mg_active
SRCDS_GAMETYPE=0
SRCDS_GAMEMODE=1
TV_ENABLE=1
RETRY_ATTEMPTS=5

FASTDL_PORT=8080
FASTDL_PUBLIC_URL=http://YOUR_PUBLIC_HOST:8080/csgo

MMS_BRANCH=1.11
SM_BRANCH=1.11
FORCE_PLUGIN_REINSTALL=0
